body {
  text-align: center;
  background-color: #000000;
}

#level-title {
  font-family:cursive,bold;
  font-size: 8rem;
  margin:  4%;
  color: #ffffff;
}

.container {
  display: block;
  width: 60%;
  margin: auto;

}

.btn {
  margin: 28px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid red;
  border-radius: 22%;
}

.game-over {
  background-color: #A460ED;
  opacity: 0.8;
}

.red {
  background-color: black;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
