body {
  text-align: center;
  background-color: #ffffff;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 5rem;
  margin:  5%;
  color: #dc0f0f;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 29px;
  display: inline-block;
  height: 200px;
  width: 210px;
  border: 10px solid rgb(41, 16, 41);
  border-radius: 20%;
}

.game-over {
  background-color: #A460ED;
  opacity: 0.1;
}

.red {
  background-color: rgb(249, 5, 5);
}

.green {
  background-color: rgb(6, 245, 34);
}

.blue {
  background-color: rgb(2, 51, 247);
}

.yellow {
  background-color: rgb(255, 255, 0);
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
